<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static './images/favicon.ico' %}"/>
    <title>MathBox-Exercises</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <script src="{% static './js/script.js' %}" defer></script>
</head>
<body>
  <header>
    <img src="{% static './images/menu.svg' %}" alt="" id="menu"/>
    <h1>
        <a href="#">
            <img src="{% static './images/logo-text.svg' %}" alt=""/>
        </a>
    </h1>
    <nav>
        <ul>
            <li><a href="{% url 'web:index' %}">Home</a></li>
            <li><a href="{% url 'web:documentation' %}">Documentation</a></li>
            <li><a href="{% url 'web:exercises' %}">Exercises</a></li>
            <li><a href="{% url 'web:games' %}">Games</a></li>
            <li><a href="{% url 'web:community' %}">Community</a></li></a></li>
            <li><a href="{% url 'web:tools' %}">Tools</a></li>
        </ul>
    </nav>
    <ul>
        <li>
            <div class="form">
                <input type="text" placeholder="Search Exercises..." class="search-input" id="exerciseSearch"/>
                <img src="{% static './images/search.svg' %}" alt=""/>
            </div>
        </li>
    </ul>
  </header>
  <div id="nav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" id="close">&times;</a>
    <div class="overlay-content">
        <a href="{% url 'web:index' %}">Home</a>
        <a href="{% url 'web:documentation' %}">Documentation</a>
        <a href="{% url 'web:exercises' %}">Exercises</a>
        <a href="{% url 'web:games' %}">Games</a>
        <a href="{% url 'web:community' %}">Community</a>
        <a href="{% url 'web:tools' %}">Tools</a>
    </div>
</div>
    <section class="list">
        <section class="wrapper">
            <h1>Here Exercises !</h1>
            <div class="flex" id="exerciseContainer">
              {% for exercise in contents %}
                  <a href="{% url 'web:exercise' exercise.about|urlencode %}" class="exercise-card" data-name="{{ exercise.about|lower }}" style="justify-content: space-between;padding-left: 39px;padding-right: 39px;">
                    <div class="content" style="display: flex;justify-content: center;align-items: center;">
                      <h3 class="about" style="font-size: 39px;">About</h3>
                      <h3 class="sec" style="font-size: 39px;color: teal;border: none;padding: 0px;">{{ exercise.about }}</h3>
                    </div>
                    <h4 class="h4" style="font-size: 19px;color: green;border: green 2px solid;border-radius: 33px;padding: 5px;">{{ exercise.get_type_display }}</h4>
                  </a>
              {% endfor %}
            </div>
        </section>
    </section>
    <footer class="footer">
      <div class="footer-container">
        
        <!-- Branding -->
        <div class="footer-section">
          <img src="{% static './images/logo-text.png' %}" alt=""/>
          <p class="footer-description">
            Explore fun math games, in-depth documentation, interactive exercises, powerful tools, and a friendly community — all in one place.
          </p>
        </div>
  
        <!-- Explore -->
        <div class="footer-section">
          <h3>Explore</h3>
          <ul>
            <li><a href="{% url 'web:games' %}">Math Games</a></li>
            <li><a href="{% url 'web:documentation' %}">Documentation</a></li>
            <li><a href="{% url 'web:exercises' %}">Exercises</a></li>
            <li><a href="{% url 'web:tools' %}">Tools</a></li>
            <li><a href="{% url 'web:community' %}">Community</a></li>
          </ul>
        </div>
  
        <!-- Resources -->
        <div class="footer-section">
          <h3>Resources</h3>
          <ul>
              <li><a href="{% url 'web:index' %}">FAQ</a></li>
              <li><a href="">Contact</a></li>
          </ul>
        </div>
  
        <!-- Connect -->
        <div class="footer-section">
          <h3>Connect</h3>
          <p>Address: Nafil Manzil / Mekkone / Kottamkara / Chandanathope P.O. / Kollam-691014 / Kerala / India</p>
          <p>Email: nafilmnytfj@gmail.com</p>
          <p>Phone Number: +91 9544758339</p>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; 2025 Mathbox. All rights reserved.
      </div>
    </footer>
</body>
</html>